.gameboy {
    display: flex;
    flex-flow: column;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 830px;
}

.gameboy-carcass {
    display: flex;
    justify-self: center;
    align-items: center;
    flex-flow: column;
    border-radius: 40px 40px 0 0;
    height: fit-content;
    width: 110%;
    background-color: #c7c7c7;
    box-shadow: -17px 20px #565656
}

.gameboy-carcass-top {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    border-bottom: 6px solid #a2a1a1;
}

.gameboy-carcass-top #item-left {
    width: 30%;
    border-right: 6px solid #a2a1a1;
}

.gameboy-carcass-top #item-right {
    width: 30%;
    border-left: 6px solid #a2a1a1;
}

.screenBorder {
    margin-top: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(145, 140, 146);
    background: linear-gradient(128deg, rgb(134 134 134) 20%, rgb(169 169 169) 50%, rgb(144 144 144) 80%);
    width: 100%;
    border-radius: 20px 20px 75px;
    height: 700px;
    top: 0;
}

.battery {
    position: absolute;
    left: 20px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: column;
}

.battery span {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 13px;
}

.battery #power {
    height: 10px;
    width: 10px;
    background: rgb(255, 76, 76);
    background: radial-gradient(circle, rgba(255, 76, 76, 1) 48%, rgba(255, 0, 0, 1) 100%, rgba(255, 0, 0, 1) 100%, rgba(255, 0, 0, 1) 100%);
    border-radius: 50%;
    box-shadow: 0 0 6px 1px red;
}

.screenContainer {
    border: 8px solid #434343;
    z-index: 999;
    border-radius: 10px;
    overflow: hidden;
    background: #e0e0e0;
    width: 75%;
    height: 75%;
    background-size: 60px 60px;
    background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
}

.contentContainer {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: inherit;
}

.infoHeader {
    display: flex;
    align-items: center;
    background: #d5292e;
    border-right: 7px solid #bf272c;
    border-left: 7px solid #bf272c;
    min-width: 97%;
    height: 100%;
}

.infoHeaderBackground {
    display: flex;
    height: 40px;
    border-bottom: solid black;
    justify-content: center;
    background-color: #891c1f;
    box-shadow: 0px 5px 3px 1px rgba(0, 0, 0, 0.62);
}

.infoHeader #info {
    color: white;
    margin-left: 10px;
    letter-spacing: 1px;
    font-weight: bold;
    font-family: monospace;
    font-size: 23px;
}

.greetings {
    align-items: center;
    display: flex;
    opacity: 1;
    border: solid black 1px;
    border-radius: 4px;
    background-color: white;
    height: 350px;
    width: 90%;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.49);
    transition: all 1s ease-out;
    justify-content: center;
}

.greetings span {
    text-align: center;
    max-width: 80%;
    font-size: 23px;
    font-family: monospace;
    line-height: 1.6;
}

.screenCenter {
    position: relative;
    display: flex;
    margin: 12px 10px;
    height: 300px;
    justify-content: space-between;
    width: 97%;
}

.centerRight {
    opacity: 1;
    transition: all 0.75s ease-out;
    display: flex;
    flex-flow: column;
}

.tinyInfo {
    position: relative;
    left: 300px;
    opacity: 0;
    transition: left 0.3s;
    display: flex;
    flex-flow: column;
    border: solid black 1px;
    border-radius: 4px;
    background-color: white;
    width: 280px;
    height: 80px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.49);
    overflow: hidden;
}

.tinyInfo .tinyInfoHeader {
    display: flex;
    align-items: center;
    background-color: #ea393f;
    border-bottom: solid #e5595e 2px;
}

.tinyInfoHeader #pokemonIndex {
    font-size: 27px;
    margin: 0 10px;
    color: white;
    font-family: monospace;
}

.tinyInfoDescription {
    display: flex;
    flex-grow: 1;
    align-items: center;
    height: 100%;
}

.tinyInfoDescription #tiny_description {
    font-size: 22px;
    margin: 0 10px;
    font-family: monospace;
}

.types {
    position: relative;
    left: 300px;
    opacity: 0;
    transition: left 0.6s;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    font-family: monospace;
    margin-top: 15px;
}

.pokemonType {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border: solid black 1px;
    border-radius: 2px;
    height: 25px;
    width: 110px;
    padding: 2px;
    background-color: white;
    margin-left: 10px;
}

.pokemonType span {
    font-size: 23px;
}

.pokeballTinyHeader {
    width: 18px;
    margin-left: 4px;
    opacity: 0.8;
    transform: rotate(-20deg);
}

.pokemonProps {
    position: relative;
    left: 300px;
    transition: left 0.9s;
    opacity: 0;
    margin-top: 23px;
    display: flex;
    flex-flow: column;
    border: solid black 1px;
    border-radius: 4px;
    background-color: white;
    width: 125px;
    height: 70px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.49);
    overflow: hidden;
    align-self: flex-end;
}

.pokemonProps span {
    font-size: 15px;
    font-Family: monospace;
    font-weight: bold;
    margin-left: 5px;
}

.pokemonProps .propTop {
    display: flex;
    height: 50%;
    align-items: center;
    padding-left: 20px;
    border-bottom: dotted gray 2px;
}

.pokemonProps .propBot {
    display: flex;
    height: 50%;
    align-items: center;
    padding-left: 20px;
    text-align: center;
}

.screenBottom {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.fullDescriptionBox {
    transition: all 0.9s;
    display: flex;
    opacity: 0;
    margin: 10px;
    justify-content: space-between;
    border: solid black 1px;
    border-radius: 4px;
    background-color: white;
    width: 0;
    min-height: 135px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.49);
    overflow: hidden;
}

.fullDescriptionBox .left {
    width: 10px;
    background-color: #ea393f;
    border-right: solid #e66969;
}

.fullDescriptionBox .center {
    display: flex;
    text-align: justify;
    align-items: center;
    margin: 2px;
}

.center span {
    font-size: 18px;
    max-width: 560px;
    font-family: monospace;
}

.fullDescriptionBox .right {
    width: 10px;
    background-color: #ea393f;
    border-left: solid #e66969;
}

.sprite-container {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
}

.pokemon-sprite {
    animation: scaling 3s infinite ease-in-out;
    margin-left: 20px;
    position: absolute;
    opacity: 0;
}

.searchContent #loading_message {
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.gameboy-logo {
    width: 100%;
    font-family: sans-serif;
    display: flex;
    justify-content: start;
    color: #3b3983;
    font-weight: bold;
}

.gameboy-logo p {
    font-size: 30px;
}

.gameboy-logo span {
    font-size: 35px;
    font-weight: 100;
}

.gameboy-logo i {
    font-size: 16px;
}

@keyframes scaling {
    0% {
        height: 280px;
    }
    50% {
        height: 300px;
    }
    100% {
        height: 280px;
    }
}

@media only screen and (max-width: 1600px) {
    .gameboy-carcass {
        top: -75px !important;
        height: 120vh !important;
    }
    .gameboy-logo {
        height: 0px !important;
    }
    .screenContainer {
        height: 75% !important;
    }
}