@font-face {
    font-family: pixel;
    src: url(/assets/fonts/pixel/pixelmix.ttf) format("truetype");
}

.center-content {
    display: flex;
    align-items: flex-end;
    padding-top: 20px;
    position: relative;
    height: 100vh;
}

.container {
    width: 100vw;
    display: flex;
}

.tips {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

.tips #tip {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.tips span {
    color: white;
    font-family: pixel;
    font-size: 16px;
    margin-bottom: 15px;
}

@media only screen and (max-width: 1800px) {
    .tips {
        zoom: 0.8;
    }
}