<div class="container">
    <div class="tips">
        <div id="tip">
            <span>CHANGE POKEMON</span>
            <img src="assets/imgs/change_pokemon.gif">
        </div>
        <div id="tip">
            <span>CHANGE SPRITE</span>
            <img src="assets/imgs/change_sprite.gif">
        </div>
    </div>
    <router-outlet></router-outlet>
    <div class="tips">
        <div id="tip">

        </div>
    </div>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->